<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eShop</title>
    <link rel="stylesheet" href="./index.css" />
  </head>
  <body>
    <div id="app">
      <header class="header container">
        <input type="text" class="goods-search" v-model="searchLine" />
        <button class="search-button" type="button" @click="filter">
          Искать
        </button>
        <button class="cart-button" type="button">Корзина</button>
      </header>
      <div>{{goods}}</div>
      <div>{{basket}}</div>

      <main class="container">
        <div class="goods-list">
          <div class="goods-item" v-for="item in filteredGoods">
            <h3>{{item.product_name}}</h3>
            <p>{{item.price}}</p>
            <button @click="addToCart(item.id_product)">
              Добавить в корзину
            </button>
          </div>
        </div>

        <div class="cart-list">
          <div class="goods-item" v-if="basket.countGoods==0">Нет данных</div>
          <div v-for="item in basket.contents">
            <div class="goods-item" v-if="item.quantity!=0">
              <h3>{{item.product_name}}</h3>
              <p>{{item.price}}</p>
              <p>Количество {{item.quantity}}</p>
              <button @click="removeFromCart(item.id_product)">X</button>
            </div>
          </div>
        </div>

        <form action="" class="hw4">
          <input type="text" name="login" />
          <input type="tel" name="tel" placeholder="tel" />
          <input type="email" name="email" placeholder="email" />
          <textarea name="message" id="" cols="30" rows="10"></textarea>
          <button>тест</button>
        </form>
      </main>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="hw3.js"></script>
    <script src="index.js"></script>
    <script src="hw4.js"></script>
  </body>
</html>
